extends layout

block content
  .container
    .row
      .col-sm-8.blog-main
        .blog-post
          h2.blog-post-title About Me
          p.blog-post-meta
            | Born in March 28, 1990
          p
            | Hi, My name is Gilang Ramadan, Im Web Developer Living in Bandung, Indonesia
          p
            | I Primaly use 
            strong Ruby
            |  and 
            strong PHP
            | , but picking up a new framework or language isn't a problem, I have extensive programming experience and I'm confortable developing on frontend or backend as well.
          p
            | My highest priority is to satisfy the customer through early and continuous delivery of web application.
        // /.blog-post
        .blog-post
          h2.blog-post-title Experience
          p.blog-post-meta
            | Work Experience
          p
            ul
              li
                | Backend Developer, Polytechnics Piksi Ganesha certification body (2013 - 2015)
              li
                | Backend Developer, Walden Global Services (2015 – now)
        .blog-post
          h2.blog-post-title Projects
          p.blog-post-meta
            | Related Projects
          p
           ol.list-unstyled
              li
                | System Management Certification Body
                ul
                  li PHP with Laravel, MySql 
              li 
                | Triplulu Travel Agent System 
                ul
                  li PHP with Laravel, MySql 
              li
                | Payment Point Online Bank
                ul
                  li Ruby On Rails, MySql
              li 
                | Rachipta Funiture Company Profile
                ul
                 li PHP with Laravel, Mysql
              li 
                | Catalogue Shopie Paris
                ul
                  li Ruby On Rails, Postgresql
              li 
                | Pratesis Mobile Audit
                ul 
                  li Ruby On Rails, Postgresql
              li
                | Nutrifood Shipping Export & Import
                ul
                  li Ruby On Rails, SqlServer
              li
                | Nutrifood – JPM/STL (Weekly Production Schedule)
                ul
                  li Ruby On Rails, SqlServer
              li
                | Audit Advisor field
                ul
                  li Ruby On Rails, Mysql

        // /.blog-post

      .col-sm-4.offset-sm-1.blog-sidebar
        .sidebar-module
          h3.text-center
          .card.card-01
            .profile-box
              img.card-img-top.rounded-circle(src='/images/profile.jpg', alt='Card image cap')
            .card-body.text-center
              span.badge-box
                i.fa.fa-check
              h4.card-title Gilang Ramadan
              p.card-text
                | mgrware@gmail.com | 087823290601
              span.social-box
                a(href='https://github.com/mgrware')
                  i.fa.fa-github
                a(href='https://www.linkedin.com/in/gilang-ramadan-310115148/')
                  i.fa.fa-linkedin
        .sidebar-module
          h4 Programming Language
          ol.list-unstyled
            li PHP
            li Ruby
            li JavaScript
            li Python
        .sidebar-module
          h4 Framework
          ol.list-unstyled
            li Jquery
            li ReactJs
            li NodeJs
            li ExpressJs
            li Pyramid
            li Laravel
            li Rails
            li ReactNative

    // /.row
  // /.container