doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/boostrap.min.css')
  body
    block content
    include shared/footer.pug